{{ partial "header-transparent.html" . }}

<div id="home" class="layout animated fadeIn">
    <section id="home-hero">
        <div class="content animated fadeInUp ">
            <h1>Rethink Opportunity</h1>
            <p>Moja is a complete rethink of e-commerce for Africa—an enterprise engine designed to empower entrepreneurs through trade, training, network-building, and financial inclusion.</p>
            <a class="btn hero" href="#read-more">Explore</a>
            <a class="btn hero" href="/blog">Blog</a>
        </div>
    </section>
    <div id="home-belowfold">
        <section id="home-connect" class="home-section">
            <a id="read-more"></a>
            <img src="/img/connect-hero-mobile.jpg">
            <div class="color-content connect">
                <div class="content">
                    <h2>Connected Community</h2>
                    <p>Moja has a sophisticated, business-oriented social networking system that fosters local capacity within our networks and connects them with each other; expanding local, regional, and global trade circles.</p>
                </div>
            </div>
        </section>
        <section id="home-trade" class="home-section alt">
            <img src="/img/trade-hero-mobile.jpg">
            <div class="color-content marketplace">
                <div class="content">
                    <h2>Economy of Trust</h2>
                    <p>Moja is a single-destination app and website where Africans can flourish through trade, training and network-building — an entrepreneurial ecosystem that is built around Trust.</p>
                </div>
            </div>
        </section>
        <section id="home-learn" class="home-section">
            <img src="/img/university-hero-mobile.jpg">
            <div class="color-content university">
                <div class="content">
                    <h2>Culture of Learning</h2>
                    <p>In-App, world-class educational resources that help business owners, employees and emerging entrepreneurs learn to participate within the rapidly expanding global e-commerce marketplace.</p>
                </div>
            </div>
        </section>
    </div> 
</div>

{{ partial "footer.html" . }}