// CTA footer

footer{
    background: $black;
    color: white;
    z-index: 50;
    position: absolute;
    left: 0;
    right: 0;

    #footer-geography{
        padding: $space-f $site-padding;
        width: 100%;
        box-sizing: border-box;

        ul{
            padding: 0;

            li{
                list-style: none;
                margin: 0;
                padding: 0 0 6px;
            }
        }
    }
    #footer-form{
         background: #444444;
         padding: $space-f $site-padding;

         .content{
            max-width: 400px;
            box-sizing: border-box;

            a.btn{
                width:100%;
                margin-top: $space-d;
            }
         }
    }
    #copyright{
        width:100%;
        float:left;
        display: block;
        box-sizing: border-box;
        padding: 16px $site-padding 16px;
        margin: 0;
        background: $black;
        font-size: 14px;
    }
}
@media (min-width:890px){

footer{
    #footer-geography{
        float:left;
        width: initial;
    }
    #footer-form{
         float: right;
         padding-left: $space-f;
         padding-bottom: 60px;
    }
    #copyright{
        width:40%;
    }
}
footer:after{
    @include clearfix;
}
}